main {
    background: url(../src/bg.jpg);
}
hr {
	background-color: #79838e;
}


.header-profile {
	font-size: 25px;
	color: #fff;
	width: 150px;
}
	.header-profile i {
		cursor: pointer;
	}
	.header-profile a, .header-profile a:hover {
		color: inherit;
	}

.container__btn {
	padding: 375px 0;
	text-align: center;
}
	.container__btn button {
	    margin: 0 auto;
	    border: none;
	    padding: 40px 100px;
	    border-radius: 50px;
	    background: linear-gradient(45deg, #74009a, #6021f8);
	    font: normal 20px Arial;
	    color: #fff;
	    box-shadow: 0 0 20px 2px #400c67c7;
	}
	.container__btn button:hover {
		background: linear-gradient(45deg, #6021f8, #74009a);
	}
	.container__btn button:focus {
		outline: none;
	}

.footer {
	text-align: center;
	color: #b5b5b5;
	padding: 0 0 20px;
}
.footer-links {
	display: flex;
    justify-content: space-around;
    padding: 30px 0 0;
    color: #b5b5b5;
}
	.footer-menu ul {
		list-style: none;
	}
	.footer-menu a, .footer-menu a:hover {
		color: inherit;
	}
.footer-social {
	font-size: 32px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}
	.footer-social a, .footer-social a:hover {
		color: inherit;
	}
	.footer-social a:hover {
		font-size: 34px;
		transition: 0.5s;
	}


@media screen and (max-width: 992px) {
	.navbar-brand {
		display: none !important;
	}
	.header-profile {
	    font-size: 20px;
	    width: 120px;
	}
}

@media screen and (max-width: 576px) {
	.container__btn {
	    padding: 185px 0;
	}
	.container__btn button {
		padding: 20px 30px;
		font-size: 16px;
	}
}

@media screen and (max-width: 420px) {
	.footer-menu {
		display: none;
	}
}